.header{
    background-color: rgb(23, 165, 170);
    text-align: center;
    line-height: 40px;
    padding: 20px 0;
}

.header h2{
    font-size: 2rem;
}

.header h2 span{
    color: #4267B2;
    font-weight: bolder;
}

.header p{
    font-size: 1.3rem;
}